@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.dark * {
  color: red !important;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: 0;
}

body {
  font-family: Poppins, sans-serif;
}
body header {
  padding: 19px 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
body header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .nav .logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
body header .nav .logo span {
  color: #173a56;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
body header .nav-items {
  display: flex;
  align-items: center;
  gap: 24px;
}
body header .nav-link {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
body header .nav .sign {
  padding: 10px 24px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 4px;
}
body header .nav .sign.in {
  color: #173a56;
  border: 1px solid #bcd0e5;
}
body header .nav .sign.up {
  color: #fff;
  background: #02897a;
}
body main .main1 {
  background: linear-gradient(180deg, #ededed 0.35%, rgba(255, 255, 255, 0) 99.63%);
}
body main .main-section1 {
  display: flex;
  padding-top: 25px;
  justify-content: space-between;
  padding-top: 200px;
}
body main .hero-text h2 {
  width: 518px;
  color: #22343d;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  padding-top: 120px;
}
body main .hero-text .par1 {
  width: 458px;
  color: #22343d;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 45px;
  margin-top: 18px;
}
body main .hero-text .but {
  align-items: center;
  height: 53px;
}
body main .hero-text .but .Get-started {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 175px;
  height: 53px;
  border-radius: 4px;
  background: #02897a;
  margin-right: 30px;
}
body main .hero-text .but .btn2,
body main .hero-text .but .btn3 {
  color: #02897a;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  padding-left: 9px;
}
body main .hero-text .picture {
  width: 600px;
  height: 556px;
}
body main .main-section2 {
  gap: 40px;
  margin-top: 117px;
}
body main .main-section2 h3 {
  width: 500px;
  color: #22343d;
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 360px;
  margin-bottom: 58px;
}
body main .main-section2 .btn3 {
  width: 175px;
  height: 53px;
  border-radius: 4px;
  background: #02897a;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 60px;
  margin-bottom: 90px;
  align-items: center;
  margin-left: 512px;
}
body main .main-section2 .about-product {
  display: flex;
  justify-content: space-between;
}
body main .main-section2 .about-product .product img {
  padding: 18px 18px;
}
body main .main-section2 .about-product .product h5 {
  width: 192px;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 13px;
  margin-top: 30px;
}
body main .main-section2 .about-product .product .par2 {
  width: 240px;
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
body main .main-section2 .about-product .product .img1 {
  width: 50px;
  height: 50px;
  border-radius: 19px;
  background: #02897a;
  align-items: center;
}
body main .main-section2 .about-product .product .img2 {
  background: #4d8dff;
  width: 50px;
  height: 50px;
  border-radius: 19px;
  align-items: center;
}
body main .main-section2 .about-product .product .img3 {
  background: #740a76;
  width: 50px;
  height: 50px;
  border-radius: 19px;
  align-items: center;
}
body main .main-section2 .about-product .product .img4 {
  background: #f03e3d;
  width: 50px;
  height: 50px;
  border-radius: 19px;
  align-items: center;
}
body main .main2,
body main .main3,
body main .main4 {
  background-color: #fffcfc;
}
body main .main2 .main-section2,
body main .main3 .main-section2,
body main .main4 .main-section2 {
  margin-top: 150px;
}
body main .main2 .main-section3,
body main .main3 .main-section3,
body main .main4 .main-section3 {
  display: flex;
  -moz-column-gap: 84px;
       column-gap: 84px;
  margin-top: 150px;
}
body main .main2 .main-section4,
body main .main3 .main-section4,
body main .main4 .main-section4 {
  display: flex;
  margin-top: 170px;
  gap: 106px;
}
body main .main2 .main-section5,
body main .main3 .main-section5,
body main .main4 .main-section5 {
  display: flex;
  -moz-column-gap: 106px;
       column-gap: 106px;
  margin-top: 150px;
}
body main .main2 .main-text1,
body main .main3 .main-text1,
body main .main4 .main-text1 {
  width: 486px;
  padding-top: 30px;
}
body main .main2 .main-text1 .par3,
body main .main3 .main-text1 .par3,
body main .main4 .main-text1 .par3 {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
body main .main2 .main-text1 .customer-check,
body main .main3 .main-text1 .customer-check,
body main .main4 .main-text1 .customer-check {
  display: flex;
}
body main .main2 .main-text1 span,
body main .main3 .main-text1 span,
body main .main4 .main-text1 span {
  color: #22343d;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 8px;
  margin-bottom: 23px;
}
body main .main2 .main-text2,
body main .main3 .main-text2,
body main .main4 .main-text2 {
  padding-top: 48px;
}
body main .main2 .main-text3,
body main .main3 .main-text3,
body main .main4 .main-text3 {
  padding-top: 20px;
}
body main .main2 .customer-check,
body main .main3 .customer-check,
body main .main4 .customer-check {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}
body main .main2 h1,
body main .main3 h1,
body main .main4 h1 {
  color: #22343d;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 23px;
}
body main .main2 h6,
body main .main3 h6,
body main .main4 h6 {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  margin-top: 28px;
  margin-bottom: 12px;
}
body main .main2 .papka-img,
body main .main3 .papka-img,
body main .main4 .papka-img {
  width: 547px;
  height: 470px;
}
body main .main2 .cus-support-img,
body main .main3 .cus-support-img,
body main .main4 .cus-support-img {
  width: 540px;
  height: 500px;
}
body main .main5 {
  align-items: center;
  justify-content: center;
}
body main .main5 .quick {
  text-align: center;
  padding-top: 53px;
  padding-bottom: 16px;
}
body main .main5 .text {
  display: flex;
  width: 542px;
  text-align: center;
  margin-left: 329px;
}
body main .main5 .womans-comment {
  display: flex;
  justify-content: space-around;
  padding-top: 32px;
  margin-bottom: 24px;
}
body main .main5 .woman1 {
  display: flex;
  align-items: center;
}
body main .main5 .woman2 {
  display: flex;
  align-items: center;
}
body main .main5 .man-comment {
  display: flex;
  justify-content: space-around;
}
body main .main5 .man1 {
  display: flex;
  align-items: center;
}
body main .main5 .man2 {
  display: flex;
  align-items: center;
}
body main .main5 .comment {
  width: 281px;
  height: 53px;
  color: #2f281e;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 26.5px;
  background: #fff;
  box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1);
  padding: 15px 25px;
  text-align: center;
}
body main .main5 .expert {
  width: 216px;
  height: 53px;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 4px;
  background: #02897a;
  margin-left: 492px;
  margin-top: 48px;
}
body main .main5 .box {
  width: 348px;
  height: 359px;
  border-radius: 8px;
  background: #fff;
}
body main .main6 .main-section7 h1 {
  margin-top: 150px;
}
body main .main6 .main-section7 .focus {
  margin-top: 8px;
  margin-bottom: 33px;
}
body main .main6 .main-section7 .box {
  width: 348px;
  border-radius: 8px;
  border: 1px solid #898888;
  overflow: hidden;
}
body main .main6 .main-section7 .box p {
  margin-top: 24px;
  margin-bottom: 12px;
  padding-left: 24px;
}
body main .main6 .main-section7 .box h5 {
  padding-bottom: 40px;
  padding-left: 24px;
}
body main .main-section8 {
  margin-top: 150px;
  margin-bottom: 150px;
}
body main .main-section8 h1 {
  color: #22343d;
  font-family: Poppins;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
body main .main-section8 p {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 50px;
}
body main .tables {
  display: flex;
  -moz-column-gap: 115.5px;
       column-gap: 115.5px;
}
body main .table {
  width: 323px;
  padding-top: 24px;
  padding-bottom: 32px;
  border-radius: 8px;
  background: #fff;
  text-align: center;
  transition: background 0.8s linear;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}
body main .table .month {
  display: flex;
  width: 154px;
  height: 100px;
  padding-left: 70px;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  text-align: center;
}
body main .table .price {
  padding-top: 40px;
}
body main .table .price p {
  width: 96px;
  height: 19px;
  color: var(--second-text, #afafaf);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.1px;
}
body main .table .price .dollor {
  width: 16px;
  height: 29px;
  color: #02897a;
  font-family: sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.1px;
  margin-bottom: 4px;
}
body main .table .number {
  color: #02897a;
  text-align: center;
  font-family: Poppins;
  font-size: 76px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.2px;
}
body main .table span {
  color: #22343d;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
body main .table p {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
body main .table .advantage p {
  color: #22343d;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.2px;
  margin-bottom: 16px;
  margin-top: 16px;
}
body main .table .button {
  display: inline-flex;
  padding: 11px 19px 11px 18px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #02897a;
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 22px;
}
body main .table:hover {
  background: #02897a;
  color: #fff;
}
body .table:hover .number {
  color: #fff;
}
body .table:hover p {
  color: #fff;
}
body .table:hover .advantage p {
  color: #fff;
}
body .table:hover span {
  color: #fff;
}
body .table:hover .price .dollor {
  color: #fff;
}
body .table:hover .button {
  color: #02897a;
  background: #fff;
}
body .main8 {
  margin-bottom: 157px;
}
body .main8 .main-section8 h1 {
  color: #22343d;
  font-family: Poppins;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: center;
}
body .main8 .main-section8 pre {
  width: 537px;
  color: #22343d;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.2px;
  margin-left: 332px;
  margin-bottom: 50px;
  margin-top: 8px;
}
body .main8 .main-section8 .tables-2 {
  display: flex;
  -moz-column-gap: 64px;
       column-gap: 64px;
  justify-content: space-between;
}
body .main8 .main-section8 .tables-2 .table-1 {
  width: 327px;
  border-radius: 5px;
  border: 1px solid #dedede;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  background: var(--light-background, #fff);
}
body .main8 .main-section8 .tables-2 .table-1 img {
  padding-left: 28px;
  margin-top: 28px;
}
body .main8 .main-section8 .tables-2 .table-1 p {
  padding-left: 26px;
  padding-top: 16px;
  color: var(--second-text-color, #737373);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px;
}
body .main8 .main-section8 .tables-2 .table-1 .person1 {
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
  padding-bottom: 24px;
}
body .main8 .main-section8 .tables-2 .table-1 .person1 .about {
  margin-top: 20px;
}
body .main8 .main-section8 .tables-2 .table-1 .person1 .about .name {
  color: #02897a;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.2px;
}
body .main8 .main-section8 .tables-2 .table-1 .person1 .about .job {
  color: var(--text-color, #252b42);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
}
body .main9 .main-section9 {
  display: flex;
  border-radius: 32px;
  background: #02897a;
  width: 968px;
  margin-left: 116px;
  margin-bottom: 150px;
}
body .main9 .main-section9 h1 {
  width: 510px;
  color: #fff;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 151.4%;
  padding-left: 51px;
  padding-top: 49px;
}
body .main9 .main-section9 .btn4 {
  display: inline-flex;
  padding: 13px 35px 7px 33px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #fff;
  color: #02897a;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 60px;
  margin-left: 51px;
}
body .main9 .main-section9 .statistika {
  padding-right: 36px;
  margin-top: 16px;
}
body footer .footer-about .footer-end {
  width: 394px;
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-left: 403px;
  margin-bottom: 48px;
}
body footer .footer-about .footer-about-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
body footer .footer-about .footer-about-text h5 {
  color: #22343d;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
body footer .footer-about .footer-about-text pre {
  color: #22343d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  margin-top: 8px;
}
body footer .footer-about .footer-about-text .deal h5 {
  width: 280px;
}
body footer .footer-about .footer-about-text input {
  width: 325px;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  background: #fff;
  outline: none;
  color: #bcd0e5;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding: 10px 15px;
  margin-top: 36px;
  margin-bottom: 20px;
}
body footer .footer-about .footer-about-text .btn6 {
  width: 131px;
  border-radius: 4px;
  background: #02897a;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 8px 15px;
}
body footer .footer-about .footer-about-text .social-network a img {
  display: inline-block;
  width: 40px;
  margin-top: 25px;
  margin-right: 20px;
}

.dark {
  background-color: rgb(0, 0, 0) !important;
}/*# sourceMappingURL=style.css.map */